{% extends "base.html" %}
{% block content %}
<div class="span12 slogan text-center"><!-- .span12 [start] -->
        <img class="logo" src="{{ static_url("image/logo.png") }}" alt="logo">
        <h1><small>please sign up.</small></h1>
        <div class="login">
            <form class="form-inline">
                <label for="exampleInputEmail"></label>
                <input type="text" class="form-control" placeholder="Email">
                <label for="exampleInputPassword"></label>
                <input type="password" class="form-control" placeholder="Password">
                <label for="exampleInputPassword"></label>
                <input type="password" class="form-control" placeholder="Confirm Password">
                <p></p>
                <button type="submit" class="btn btn-primary btn-large btn-block">Sign in</button>
            </form>
        </div>
		
	</div>
{% end %}
